.container{
    .navbar{
        background-color: palevioletred;
        margin-bottom: 950px;
        width: 1800px;
        color: white;
    }
    h2{
        margin-top: 60px;
    }
    input{
        margin-left: 1000px;
        width: 550px;
        height: 30px;
        margin-bottom: 40px;
        border: none;
        border-radius: 5px;
    }
    .right{
        background-color:  palevioletred;
        width: 10px;
  
       
          
          
    }
}