body{
    background-color: olivedrab;
}
  
.container {
    padding: 20px;
  }
  
  .navbar {
    background-color: rgb(77, 141, 184);
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  