
.container {
   
    background-color: white;

    
  }
  
  table {
    width: 800px;
    height: 200%;
    border-collapse: collapse;
    align-items: center;
    margin-left: 100px;
   

    
  
  }
  
  th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: rgb(2, 34, 2);
    width: 900px;
    font-size: 15px;
  }
  
  th {
    background-color:rgba(112, 216, 27, 0.466);
    font-weight:100;
    color: rgb(2, 34, 2);
    width: 900px;
    
  }
  