
  .nav-container {
    display: flex;
    justify-content: space-between;
 
    width: 250%;

    max-width: 1200px;
 
    padding: 0 132px;
    background-color:rgba(112, 216, 27, 0.466);
    height: 60px;
    display: flex;


  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(4, 63, 14);
  }
  
 